**/migrations
*.DS_store
**/__pycache__
**/.DS_Store
*.log

__pycache__/
local_settings.py
db.sqlite3
media/

*.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/\
.vscode/
.idea/
*.__pycache__
*.pyo

static/
